.body_background 
{
    background-position: center;
    background-size:contain;
	background:url(Grass.jpg);
}
#mc
{
    border-width:10px;
    border-style:ridge;
	background-color:forestgreen;
}


#hd3{
	display: inline-block;
	color: white;
	background-color:green;
	font-family: fantasy;
	padding: 6px;
}

